// - primary - //
$primary: #A072B2;
$primary-dark: #825b91;
$primary-shadow: #a072b2a6;
// - white / lite - grey - //
$white: #ffffff;
$lite: #f8f8f8;
$grey: #E2E2E2;
// - dark - //
$dark: #303030;
$dark-grey: #5a5a5a;
$dashed: #889096;
// - none - //
$none: #ffffff00;
// - golden - //
$golden: #a690ff;